<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mozzart.paper" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
<edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/uses-permission[@android:name='android.permission.WRITE_EXTERNAL_STORAGE']"><uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /></edit-config>
<edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/uses-permission[@android:name='android.permission.READ_EXTERNAL_STORAGE']"><uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /></edit-config>
    <name>MozzartPaper</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
